<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an Account</title>
    <!-- Add your CSS or other head elements here -->
</head>
<body>
    <h2>Sign Up</h2>
    <form method="POST" class="form-group">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-success">Register</button>
    </form>
    <!-- Add your footer or other common elements here -->
</body>
</html>
