<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an Account</title>
<!--    <style>-->
<!--        body {-->
<!--            font-family: Arial, sans-serif;-->
<!--            background-color: #f9f9f9;-->
<!--            display: flex;-->
<!--            justify-content: center;-->
<!--            align-items: center;-->
<!--            height: 100vh;-->
<!--            margin: 0;-->
<!--        }-->
<!--        h2 {-->
<!--            color: #333;-->
<!--            text-align: center;-->
<!--        }-->
<!--        form {-->
<!--            max-width: 400px;-->
<!--            margin: 0 auto;-->
<!--            padding: 20px;-->
<!--            background-color: #fff;-->
<!--            border-radius: 5px;-->
<!--            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);-->
<!--        }-->
<!--        input, button {-->
<!--            width: 100%;-->
<!--            padding: 10px;-->
<!--            margin-bottom: 10px;-->
<!--            border: 1px solid #ccc;-->
<!--            border-radius: 3px;-->
<!--        }-->
<!--        button {-->
<!--            background-color: #28a745;-->
<!--            color: #fff;-->
<!--            border: none;-->
<!--            cursor: pointer;-->
<!--        }-->
<!--    </style>-->
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Register</button>
    </form>
</body>
</html>
